img{
    width: 100%;
}
legend{
    color: black;
    font-weight: bold;
    font-size: 22px;
}
div{
    margin: 5px;
}
h3, ol{
    color:black;
}
h1{
    font-size: 40px;
}
fieldset{
    
    padding: 3px;
    border: 2px solid purple;
}
hr{
    border: 2px double black;
}

@media only screen and (max-width: 768px) {
	[class="formulir"] {
		width: 100%;
	}
}